html, body {
  height: 100%;
}

#main > .columns {
  min-height: 100%;
}

.inline-text-margin{
  margin: 0 5px;
}

.pr-section:hover{
  background-color: aliceblue;
}

.wait-for-author-icon{
  color: #f8be40;
}
